$gray: #c4c4c4;
.teaser--left {
  background-color: transparentize($gray, 0.75);
}

.teaser__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.teaser__link {
  &:hover {
    text-decoration: underline;
  }
}

.teaser__content {
  max-width: 740px;
}

@media (max-width: 768px) {
  .teaser__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .teaser--right {
    .teaser__image {
      order: 1;
    }

    .teaser__content {
      order: 2;
    }
  }
}
