.about {
  position: relative;
  margin-top: 150px;
}

.about-title {
  position: absolute;
  right: 0;
  font-size: 90px;
  top: 115px;
}

.about-description {
  text-align: right;
  margin-top: 250px;
}
