@import "../../styles/variables";

.basic-card {
  border-radius: 8px;
  box-shadow: 0 6px 8px 2px #adb5bd4a;
  padding: 30px 20px;
}

.basic-card__info {
  font-size: 14px;
}

.basic-card__headline {
  font-style: italic;

  &:after {
    background-color: $brand-color;
    content: "";
    display: block;
    height: 2px;
    margin-top: 6px;
    width: 30px;
  }
}

.basic-card__link-secondary {
  position: relative;
  display: table;
  &:before {
    content: "";
    width: 10px;
    height: 2px;
    background: $brand-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -21px;
    transition: all 0.3s ease;
  }

  &:hover:before {
    right: -13px;
    width: 10px;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $brand-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
    transition: all 0.3s ease;
  }

  &:hover:after {
    right: -18px;
  }
}
