.banner-home {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center left;
  background-image: url(../../assets/banner.png);
  padding: 20px;
  margin-bottom: 70px;

  .banner-home__content {
    max-width: 600px;
  }

  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 48px;
  }
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center left;
  padding: 20px;
}
