.banner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center left;
  padding: 20px;
}

.banner__content {
  color: white;
}

@media (max-width: 768px) {
  .banner-home__container {
    flex-wrap: wrap;
  }
}
